<body>
    <header>
      <ul>
        <!-- If the user is logged in, display the Dashboard and Logout links otherwise redirect to the login page. -->
        <li><a
            href='/'
            class=''
          >Home</a></li>
        {{#if loggedIn}}
          <li><a
              href='/dashboard'
              class=''
            >Dashboard</a></li>
        {{else}}
          <li><a
              href='/login'
              class=''
            >Dashboard</a></li>
        {{/if}}
        {{#if loggedIn}}
          <li><a
              href='/logout'
              id='logout'
              class=''
            >Logout</a></li>
        {{else}}
          <li><a
              href='/login'
              id='login-form'
              class=''
            >Login</a></li>
        {{/if}}
      </ul>
    </header>
    <!-- The body of the page will be rendered here. -->
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2024 Dev Portal</p>
    </footer>
  </body>
  <!-- If the user is logged in, display the logout script. -->
  {{#if loggedIn}}
    <script src='/js/logout.js'></script>
  {{/if}}
</html>